
<div class="container">
 <div class="row">
     <div class="col-sm">
<i class="fas fa-calendar-alt"></i> <%=@event[:date]%>
<h1><%=@event[:title]%></h1>
<p><%=@event[:description]%></p>
    <h2>RSVP</h2>
    </div>
    <div class="col-sm">
    <h4>When?</h4>
    <%=@event[:date]%>
    <h4>Where?</h4>
     <%=@event[:location]%>
 </div>
</div>




